.text-field{
    default-field-color: #ff6600;
    default-field-color-blue: #0066ff;
    default-field-color-green: #00cc00;

    mouse-on-color: #cc5200;
    mouse-on-color-blue: #0052cc;
    mouse-on-color-green: #009900;

    field-color: default-field-color;
    -fx-background-color: field-color;
    -fx-pref-width: 200px;
    -fx-font-family: Arial Rounded MT Bold;
    -fx-font-size: 17px;
    -fx-font-weight: bold
}